<section
  id="about-us"
  class="max-w-[1000px] mx-auto py-10 px-4 sm:px-6 lg:px-0 text-center"
>
  <h1 class="text-3xl sm:text-4xl font-bold text-[#564040] mb-12 sm:mb-20">
    About Us
  </h1>

  <div
    class="flex flex-col lg:flex-row gap-10 lg:gap-20 text-left items-center"
  >
    <!-- Image -->
    <div class="w-full lg:w-1/2">
      <img
        src="assets/84767b3a1a2f424133efae2e8325bf89e28af23a.png"
        class="w-full rounded-xl"
      />
    </div>

    <!-- Text -->
    <div class="w-full lg:w-1/2">
      <h2 class="text-2xl sm:text-3xl lg:text-4xl font-semibold mb-4 sm:mb-5">
        Our Mission
      </h2>

      <p
        class="text-base sm:text-lg lg:text-xl text-[#472d2d] mb-6 sm:mb-10"
      >
        Lorem Ipsum Dolor Sit Amet Consectetur. Sit Lectus Libero Suspendisse
      </p>

      <ul class="flex flex-col gap-4 sm:gap-5">
        <li class="flex items-center text-base sm:text-lg text-[#444]">
          <img src="assets/acorn.png" class="mr-3 w-5 h-5" />
          Lorem Ipsum Dolor Sit
        </li>

        <li class="flex items-center text-base sm:text-lg text-[#444]">
          <img src="assets/acorn.png" class="mr-3 w-5 h-5" />
          Lorem Ipsum Dolor Sit Amet.
        </li>

        <li class="flex items-center text-base sm:text-lg text-[#444]">
          <img src="assets/acorn.png" class="mr-3 w-5 h-5" />
          Lorem Ipsum Dolor Sit Amet Consectetur.
        </li>
      </ul>
    </div>
  </div>
</section>
